<div class="container p-5 login-container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-7">
      <h1 class="text-center">Login</h1>
    </div>
    <div class="col-md-6">
      <form [formGroup]="form">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Email address</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            formControlName="email"
            name="email"
            required
            email
          />
          <div
            *ngIf="
              form.get('email')?.hasError('required') ||
              form.get('email')?.hasError('email')
            "
            class="alert alert-danger mt-2"
          >
            Email is required. Format: example gmail.com.
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            formControlName="password"
            required
            name="password"
          />
          <div
            *ngIf="
              form.get('password')?.hasError('required') ||
              form.get('password')?.hasError('invalidPassword')
            "
            class="alert alert-danger mt-2"
          >
            <p class="p-0 m-0">Password is required.</p>
            <p class="m-0 mt-2">
              Password format: 8 characters, 1 uppercase letter, 1 lowercase
              letter and 1 number
            </p>
          </div>
        </div>
        <button
          type="submit"
          class="btn"
          [disabled]="form.invalid"
          (click)="login()"
        >
          Login
        </button>
        <p class="mt-3">
          Don't have an account? <a routerLink="/register">Register here</a>
        </p>
      </form>
      <p *ngIf="wrongCredentials" class="alert alert-danger">
        Wrong credentials.
      </p>
      <p *ngIf="serverError" class="alert alert-danger">Error occurred.</p>
      <p *ngIf="tokenExpired" class="alert alert-danger">{{ tokenExpired }}</p>
      <!-- <p *ngIf="message" class="alert alert-success">
        {{ message }}
      </p> -->
    </div>
  </div>
</div>
