* {
  font-family: "Poppins", sans-serif;
}

.register-container {
  margin-top: 100px;
}

.btn {
  border: none;
  background-color: #6f4fc2;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 8px 22px;
}
