<div class="container p-5 register-container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-7">
      <h1 class="text-center">Register</h1>
    </div>
    <div class="col-md-6">
      <form [formGroup]="form">
        <div class="mb-3">
          <label for="exampleInputUsername1" class="form-label">Username</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputUsername1"
            formControlName="username"
            name="username"
            placeholder="korisnik123"
            required
          />
          <div
            *ngIf="
              form.get('username')?.hasError('required') ||
              form.get('username')?.hasError('minLength')
            "
            class="alert alert-danger mt-2"
          >
            Username is required and min length is 3.
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleInputFirstName1" class="form-label"
            >FirstName</label
          >
          <input
            type="text"
            class="form-control"
            id="exampleInputfirstName1"
            name="firstName"
            formControlName="firstName"
            required
            placeholder="Ime"
          />
          <div
            *ngIf="form.get('firstName')?.hasError('required')"
            class="alert alert-danger mt-2"
          >
            First name is required.
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleInputLastName1" class="form-label">LastName</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputLastName1"
            formControlName="lastName"
            name="lastName"
            required
            placeholder="Prezime"
          />
          <div
            *ngIf="form.get('lastName')?.hasError('required')"
            class="alert alert-danger mt-2"
          >
            Last name is required.
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Email address</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            formControlName="email"
            name="email"
            required
            email
            placeholder="email@gmail.com"
          />
          <div
            *ngIf="
              form.get('email')?.hasError('required') ||
              form.get('email')?.hasError('email')
            "
            class="alert alert-danger mt-2"
          >
            Email is required. Format: example gmail.com.
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            formControlName="password"
            id="exampleInputPassword1"
            required
            name="password"
          />
          <div
            *ngIf="
              form.get('password')?.hasError('required') ||
              form.get('password')?.hasError('invalidPassword')
            "
            class="alert alert-danger mt-2"
          >
            <p class="p-0 m-0">Password is required.</p>
            <p class="m-0 mt-2">
              Password format: 8 characters, 1 uppercase letter, 1 lowercase
              letter and 1 number
            </p>
          </div>
        </div>
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="form.invalid"
          (click)="register()"
        >
          Register
        </button>
      </form>
      <p *ngIf="serverError" class="alert alert-danger">
        {{ serverError }}
      </p>
      <!-- <p *ngIf="message" class="alert alert-success">
        {{ message }}
      </p> -->
    </div>
  </div>
</div>
