<div class="single-card mb-5">
  <div class="card h-100">
    <!-- Product image-->
    <img
      class="card-img-top"
      [src]="'http://localhost:5001/tracks/images/' + track.image"
      alt="{{ track.name }}"
    />
    <!-- Product details-->
    <div class="card-body p-4">
      <div class="text-center">
        <!-- Product name-->
        <h5 class="fw-bolder">{{ track.name }}</h5>
        <p class="lead">{{ track.artist.name }}</p>
        <p class="small">
          Genre: <strong>{{ track.genre.name }}</strong>
        </p>
        <p class="small">
          Album: <strong>{{ track.album.name }}</strong>
        </p>
        <p class="small">
          Media type: <strong>{{ track.mediaType.name }}</strong>
        </p>
        <!-- Product price-->
        $ {{ track.price }}
      </div>
    </div>
    <!-- Product actions-->
    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
      <div class="text-center">
        <a
          class="btn btn-outline-dark mt-auto"
          routerLink="/tracks/{{ track.id }}"
          >View details</a
        >
      </div>
    </div>
  </div>
</div>
