<div class="single-card mb-5">
  <div class="card h-100">
    <!-- Product image-->
    <img
      class="card-img-top"
      src="http://localhost:5001/wwwroot/tracks/images/00203184-c224-4139-b112-7f7b5a96e37a.jpg"
      alt="..."
    />
    <!-- Product details-->
    <div class="card-body p-4">
      <div class="text-center">
        <!-- Product name-->
        <h5 class="fw-bolder">Ime</h5>
        <p class="lead">Ime</p>
        <p class="small">Genre: <strong>Ime</strong></p>
        <p class="small">Album: <strong>Ime</strong></p>
        <p class="small">Media type: <strong>Ime</strong></p>
        <!-- Product price-->
        $1.99
      </div>
    </div>
    <!-- Product actions-->
    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
      <div class="text-center">
        <a class="btn btn-outline-dark mt-auto" routerLink="/tracks/2"
          >View details</a
        >
      </div>
    </div>
  </div>
</div>
