<div class="container">
  <div class="dashboard-title">
    <h2>Genres</h2>
    <button class="btn btn-success" routerLink="/admin/users/create">
      Create
    </button>
  </div>

  <div class="genres-admin-panel" *ngIf="genres; else noGenres">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let genre of genres; let i = index">
          <th scope="col">{{ i + 1 }}</th>
          <td scope="col">{{ genre.name }}</td>
          <td>
            <button
              class="btn update-create-btn"
              type="button"
              routerLink="/admin/genres/{{ genre.id }}/edit"
            >
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
          </td>
          <td>
            <button
              class="btn btn-danger"
              type="button"
              (click)="deleteGenre(genre.id)"
            >
              <i class="fa-solid fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #noGenres>
    <div class="alert alert-danger p-4 my-5 no-genres">
      <p>There is no genres.</p>
    </div>
  </ng-template>
</div>
