<div class="navigation">
  <h1>
    <a routerLink="/">Rhythm Realm</a>
  </h1>
  <nav>
    <ul>
      <li>
        <a routerLink="/tracks">Tracks</a>
      </li>
      <div *ngIf="false; else showLoginRegister" class="d-flex">
        <!-- *ngIf="user$ | async as user; " -->
        <div>
          <!-- *ngIf="user.role.name == 'admin'" -->
          <li><a class="active" routerLink="/admin/index">Admin Panel</a></li>
        </div>
        <div class="d-flex">
          <li><a routerLink="/playlists">Playlists</a></li>
        </div>
        <li><a class="logout">Logout</a></li>
      </div>
      <ng-template #showLoginRegister>
        <li><a routerLink="/register">Register</a></li>
        <li><a routerLink="/login" class="active">Login</a></li>
      </ng-template>
    </ul>
  </nav>
</div>
