@use "../../../shared/sass/variables" as vars;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  position: fixed;
  z-index: 1000;
  left: 50%;
  transform: translate(-50%, 0);
  top: 30px;
  background-color: vars.$white;
  padding: 15px 40px;
  border-radius: 30px;
  h1 {
    font-size: 2rem;
    font-weight: 500;
    a {
      text-decoration: none;
      color: vars.$darkPurple;
    }
  }
  nav {
    ul {
      list-style-type: none;
      display: flex;
      align-items: center;
      li {
        margin-left: 50px;
        a {
          font-size: 1.2rem;
          text-decoration: none;
          color: vars.$darkPurple;
        }
        .active {
          background-color: #6f4fc2;
          color: vars.$white;
          padding: 8px 37px;
          border-radius: 30px;
        }
      }
    }
  }

  .login-reg {
    display: flex;
    margin-left: 30px;
    padding-left: 10px;
    border-left: 1px solid rgba($color: #000000, $alpha: 0.2);
  }
}

.logout {
  cursor: pointer;
}

.profile-img {
  width: 40px;
  height: 40px;
}

.icons {
  margin-left: 10px;
  font-size: 17px;
}

.span-text {
  font-weight: 400;
  font-size: 18px;
}

.mat-mdc-menu-content,
.mat-mdc-menu-content .mat-mdc-menu-item .mat-mdc-menu-item-text {
  font-size: 16px;
}

.profile {
  margin-left: 50px;
}
