<div class="navigation">
  <h1>
    <a routerLink="/">Zenith</a>
  </h1>
  <nav>
    <ul>
      <li>
        <a routerLink="/tracks">Tracks</a>
      </li>
      <div
        *ngIf="user; else showLoginRegister"
        class="d-flex align-items-center playlist-others"
      >
        <!-- *ngIf="user$ | async as user; " -->

        <div class="d-flex">
          <li><a routerLink="/playlists">Playlists</a></li>
        </div>
        <div class="profile">
          <button mat-button [matMenuTriggerFor]="menu" class="btn m-0 p-0">
            <img
              src="/assets/images/profile-image.png"
              alt="Default profile picture"
              class="profile-img"
            />
          </button>
          <mat-menu #menu="matMenu" class="above">
            <button mat-menu-item>
              <i class="fa-solid fa-user icons"></i>
              <span class="mx-4 span-text">{{ user.Username }}</span>
            </button>
            <a routerLink="/admin" mat-menu-item *ngIf="isAdmin()">
              <i class="fa-solid fa-chart-line icons"></i>
              <span class="mx-4 w-100 active span-text">Admin panel</span>
            </a>
            <a mat-menu-item (click)="logout()">
              <i class="fa-solid fa-right-from-bracket icons"></i
              ><span class="mx-4 span-text">Logout</span>
            </a>
          </mat-menu>
        </div>
      </div>
      <ng-template #showLoginRegister>
        <div class="login-reg">
          <li><a routerLink="/login" class="active">Login</a></li>
          <li><a routerLink="/register">Register</a></li>
        </div>
      </ng-template>
    </ul>
  </nav>
</div>
