<div class="hero-section">
  <div class="hero-text">
    <h2>Welcome to Zenith!</h2>
    <p>Hope you enjoy our tracks!</p>
    <hr />
    <a routerLink="/" class="cta-tour btn">Take a tour</a>
  </div>
</div>
<div class="about-us-section">
  <div class="about-us-title">
    <h2>About us</h2>
  </div>
  <div class="about-us-content">
    <div class="about-us-image">
      <img src="../../../assets/images/about-us.png" alt="About Us" />
    </div>
    <div class="about-us-text">
      <strong>Zenith</strong> Rhythm Realm is an online destination dedicated to
      music lovers worldwide. Our passion is to create a space where music
      enthusiasts can gather, explore, and enjoy their favorite sounds. Whether
      you're a fan of classical melodies, contemporary hits, or an adventurer
      seeking new sounds, Rhythm Realm provides everything you need.
    </div>
  </div>
</div>
