<button class="btn btn-danger" routerLink="/admin">
  <i class="fa-solid fa-table px-1"></i> Go to dashboard
</button>
<button class="btn admin-links" routerLink="/admin/tracks">
  <i class="fa-solid fa-table px-1"></i> Tracks
</button>
<button class="btn admin-links" routerLink="/admin/users">
  <i class="fa-solid fa-table px-1"></i> Users
</button>
<button class="btn admin-links" routerLink="/admin/genres">
  <i class="fa-solid fa-table px-1"></i> Genres
</button>
<button class="btn admin-links" routerLink="/admin/artists">
  <i class="fa-solid fa-table px-1"></i> Artists
</button>
