$lightPurple: #6f4fc2;
$darkPurple: #342659;
$white: #f7f7f7;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

@mixin wrapper {
  width: 80%;
  margin: 0px auto;
}

.my-container {
  @include wrapper();
}
