<div class="tracks-section">
  <div class="tracks-title">
    <h1 class="text-center">Tracks</h1>
  </div>
  <div class="tracks-search-sort">
    <div class="search-div">
      <p class="mb-2">Search:</p>
      <input
        class="form-control"
        type="search"
        id="search"
        [(ngModel)]="search"
        (ngModelChange)="fetchTracks()"
        placeholder="Type..."
      />
    </div>

    <div class="sort-div">
      <p class="mb-2">Sort by:</p>
      <select
        id="sortDdl"
        class="form-select"
        (change)="fetchTracks()"
        [(ngModel)]="sort"
        [selectedIndex]="0"
      >
        <option value="">Select sort</option>
        <option value="price-asc">Price ascending</option>
        <option value="price-desc">Price descending</option>
        <option value="name-asc">Name ascending</option>
        <option value="name-desc">Name descending</option>
      </select>
    </div>
  </div>

  <div class="tracks" *ngIf="tracks.length; else noTracks">
    <app-track *ngFor="let track of tracks" [track]="track"></app-track>
  </div>

  <ng-template #noTracks>
    <p class="alert alert-danger p-3 my-5">There is no tracks.</p>
  </ng-template>
</div>
<div class="side-filter" #filter_div>
  <h4 class="header mb-4">Filters</h4>
  <div class="content">
    <div class="group" *ngFor="let key of filtersKeys">
      <div class="subtitle">{{ key | capitalize }}</div>
      <form [formGroup]="form">
        <div *ngFor="let filter of filters[key]" #radioButtonDiv>
          <input
            id="{{ key }} rb {{ filter.id }}"
            type="radio"
            class="{{ key }} rb"
            [name]="key"
            [formControlName]="key"
            (change)="onFilterChange()"
            value="{{ filter.id }}"
          />
          <label class="d-inline" for="{{ key }} rb {{ filter.id }}">{{
            filter.name
          }}</label>
        </div>
      </form>
    </div>
  </div>
  <div class="open">
    <button class="btn" (click)="onOpen()">></button>
  </div>
</div>
