<section class="py-5" *ngIf="track">
  <div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-5 audio-image">
        <img
          class="card-img-top mb-5 mb-md-0"
          src="http://localhost:5001/tracks/images/{{ track.image }}"
          alt="{{ track.name }}"
        />
        <audio controls class="mt-3">
          <source
            src="http://localhost:5001/tracks/songs/{{ track.audio }}"
            type="audio/mp3"
          />
        </audio>
      </div>
      <div class="col-md-5">
        <div class="small mb-1">{{ track.genre.name }}</div>
        <h1 class="display-5 fw-bolder">{{ track.name }}</h1>
        <div class="fs-5 mb-3">
          <span>${{ track.price }}</span>
        </div>
        <p class="lead mb-3">{{ track.artist.name }}</p>
        <div class="small mb-3">
          Album:
          <p class="lead">
            <strong>{{ track.album.name }}</strong>
          </p>
        </div>

        <div class="small mb-3 mt-1">
          Duration:
          <p class="lead">
            <strong>{{ track.duration | fromSecToMin }}</strong>
          </p>
        </div>
        <div class="small mb-3 mt-1">
          Media type:
          <p class="lead">
            <strong>.{{ track.mediaType.name }}</strong>
          </p>
        </div>
        <div class="mb-3 mt-1 likesDiv">
          <i
            (click)="likeOrUndoLikeTrack(track.id)"
            class="{{ liked ? 'fa-solid' : 'fa-regular' }} fa-heart"
          ></i
          ><span class="lead mx-2"
            ><strong
              >{{ track.likesCount }}
              {{ track.likesCount == 1 ? "like" : "likes" }}</strong
            ></span
          >
        </div>
        <div class="d-flex select-create-playlist-btns">
          <!-- <select
            id="playlist"
            [(ngModel)]="playlistSelectValue"
            class="form-select px-2"
            [disabled]="!isDisabledPlaylistDdl || !playlists.length"
            (change)="onAddTrackToPlaylist()"
          >
            <option value="0">Select a playlist</option>
            <option *ngFor="let p of playlists" value="{{ p.id }}">
              {{ p.name }}
            </option>
          </select> -->

          <button class="btn btn-dark" routerLink="/playlists/create">
            Create playlist
          </button>
        </div>
        <!-- <div class="add-to-playlist-btn">
            <button class="btn">Add to playlist</button>
          </div> -->
      </div>
    </div>
  </div>
</section>
<!-- <div *ngIf="playlistThatIsTrackAddedTo" class="notification" #notification>
  Track <strong>{{ this.track.name }}</strong> successfully added to playlist
  <strong>{{ this.playlistThatIsTrackAddedTo.name }}</strong
  >.
</div>
<div *ngIf="error" class="error" #error>Track is already in that playlist.</div> -->
